*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    background-color: #fff;
    font-family: 'Noto Sans', sans-serif;
    transition: 0.4s ease;
    scroll-behavior: smooth;
}
:root{
    --main-color: #85b72c;
    --font-family: "playfair Display, sans-serif" 
}

.container{
   max-width: 1100px;
   margin: auto; 
}
.flex{
    display: flex;
    align-items: center;
}
.hed{
    font-family: var(--font-family);
    font-size: 35px;
    color: #1d2228;
    padding: 7px;
    text-align: center;
}
.btn{
   border: 1px solid #85b72c; 
   background: none;
   padding: 10px 25px;
   font-size: 16px;
   cursor: pointer;
   margin: 4px;
   color:hsl(96, 85%, 34%);
   border-radius: 7px;
   font-weight: bolder;
   margin: 5px;
}
.btn:hover{
    background-color: hsl(96, 85%, 34%);
    color: white;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 180%;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn:hover::before{
    height: 0%;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}

 .topnav{
    width: 100%;
    height: 50px;
    background-color: #1d2228;
    color: #fff;
}
.topnav a{
    text-decoration: underline;
}
.topnav .container{
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.navicons{
    gap: 30px;
}
.navicons i{
    font-size: 25px;
    border-radius: 50%;
}
.navicons a:hover i{
color: var(--main-color);
}
.scrbtn{
    font-size: 13px;
    font-weight: 600;
    transition: 0.2s ease;
}
.scrbtn i{
margin-left: 5px;
font-size: 13px;
transition: 0.2s ease;
}
.scrbtn:hover{
    color: var(--main-color);
}
.scrbtn:hover i{
    transform: rotate(90deg);
}
.mainnav{
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    z-index: 9999;
    transition: 0.5s ease-in-out;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: space-between;
}
 .logo{
    gap: 5px;
    display: flex;
}
 .logo img{
    width: 70px;
    margin-right: 5px;
}
.logo h1{
    font-size: 28px;
    font-family: fantasy;
    text-transform: uppercase;
    font-weight: 800;
    color: #1d2228;
    cursor: pointer;
    transition: 0.2s ease;
    letter-spacing: 2px;
}
 .logo:hover h1{
    color: var(--main-color);
}
 .navlist{
    gap: 30px;
    margin-right: 150px;
    transition: 0.2s ease-in-out;
}
.navlist a{
    font-size: 14px;
    font-weight: 600;
}
.navlist li a:hover{
    color: var(--main-color);
}
.toggle{
    --bg-toggle: hsl(0, 0%, 96%);
    --bg-circle: hsl(96, 85%, 34%);
    width: 65x;
    height: 30px;
    background-color: var(--bg-toggle);
    box-shadow: 0 0 5px #555;
    border-radius: 4rem;
    display: flex;  
    align-items: center;
    padding: 0 .3rem;
    transition: background-color 400ms;
    cursor: pointer;
}
.toggle_circle{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: var(--bg-circle);
    border-radius: 50%;
    position: relative;
    transition: margin 400ms ease-in-out, background-color 1000ms;
}
.toggle_circle::after,
.toggle_circle::before{
    content: '';
    position: absolute;
    background-color: var(--bg-toggle);
    bottom: 134%;
    transform-origin: bottom left;
}
.toggle_circle::before{
width: 9px;
height: 18px;
left: 32%;
border-radius: 0% 100% 0% 100% / 0% 27% 73% 100%;
transform: translateX(-70%) rotate(-2deg);
}
.toggle_circle::after{
    width: 16px;
    height: 19px;
    left: 57%;
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    transform: rotate(-20deg);
}
#checkbox:checked + .toggle > .toggle_circle{
    margin-left: calc(90px - (.3rem * 2) - 50px);
}
#checkbox:checked + .toggle{
    --bg-toggle: hsl(96, 85%, 34%);
    --bg-circle: hsl(0, 0%, 96%);
}
.searchbar{
    gap: 20px;
    margin-right: 15px;
}
.searchbar i{
    font-size: 24px;
    color: #555;
    cursor: pointer;
}
.searchbar i:hover{
    color: var(--main-color);
}
.navonoff{
    display: none;
}
#checkbox2{
    display: none; 

}
.toggle2{
    position: relative;
    width: 35px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
}
.bar{
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #111;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5 , -0.35 .35, 1.5) 0s;

}
.bar--top{
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}
.bar--middle{
top: calc(50% - 4px + 4px/ 2);
transition-property: opacity;
transition-delay: calc(0s + 0.35s), 0s;
}
.bar--bottom{
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;

}
#checkbox2:checked + .toggle2 .bar--middle{
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
}
#checkbox2:checked+ .toggle2 .bar--top{
bottom: calc(50% - 4px/2);
transform: rotate(135deg);
transition-delay: 0s, calc(0s + 0.35s);
}
#checkbox2:checked + .toggle2 .bar--bottom{
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s, calc(0s + 0.35s);
}
.searchinput{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.searchinput input{
width: 100%;
height: 110%;
border: 2px solid var(--main-color);
outline: none;
border-radius: 10px;
 font-size: 15px;
font-weight: 600;
padding: 10px;

}
.searchinput i{
    font-size: 16px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #111;
    box-shadow: 0 0 5px #999;
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}
.searchinput i:hover{
    background-color: var(--main-color);
}
.headerimg{
    position: relative;
    width: 100%;
    height: auto;
    background: url('assets/bb.jpg') no-repeat center center/cover;
    z-index: 1;
    transition: 0.3s ease;
}
.headerimg .container{
width: 100%;
height: 100%;
}
.headerimg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1005;
    height: 100%;
    background-color: #111;
    opacity: 0.3;
    z-index: -1;
    transition: background-color;
}
.headerinfo{
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    z-index: 9;
    color: #fff;
    padding-top: 8rem;
    padding-bottom: 13rem; 
}
.headertitle{
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    font-family: var(--font-family);
}
.headerpera{
    font-size: 19.5px;
    padding-right: 35rem;
    color: #ffffffcd;
}
.headerslider{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -120px;
    z-index: 99;
    overflow: hidden;
}
.slidertitle{
    color: #fff;
   margin-bottom: 30px;
    justify-content: space-between;
}
.slidertitle h4{
    font-size: 15px;
    font-weight: 600;
}
.slider1fbtn button{
    position: relative;
    padding: 15px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    outline: none;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}
.slider1fbtn button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--main-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.4s ease;
    z-index: -1;
}
.slider1fbtn button:hover::after,
.slider1fbtn button:hover{
    transform: scale(1);
    border: 2px solid var(--main-color);
}
.headercards{
    width: 100%;
    gap: 30px;
    overflow-x: scroll;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
}
.headercards::-webkit-scrollbar{
    display: none;
}
.headercard{
    background-color: #e2e1ec;
    min-width: 345px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hodden;
}
.headercard img{
    width: 120%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.headercard:hover{
    box-shadow: 0 0 15px var(--main-color);
}
.hcardinfo{
    margin-left: 10px;
}
.hcardinfo span{
    color: brown;
    font-size: 15px;
    margin-bottom: 10px;
}
.hcardinfo h3{
color: #333;
font-family: var(--font-family);
margin-top: 8px;
}
.threecards{
    gap: 25px;
    padding: 0 20px;
    margin-top: 6rem;
}
.tcard{
position: relative;
width: 350px;
height: auto;
overflow: hidden;
box-shadow: 0 0 10px #ede9e9;
border-radius: 8px;
display: grid;
}
.tcardimg{
    position: relative;
    width: 100%;
    height: 190px;
    overflow: hidden;
    border-radius: 5px;
}
.tcardimg img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 5px;
transition: 0.3s ease;
}
.tcard:hover .tcardimg img{
    transform: scale(1.1);
}
.tcardimg span{
    position: absolute;
    left: 2%;
    top: 2%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.tcardimg span:hover{
    color: orange;
}
.tlabel{
    color: brown;
    font-weight: 600;
    font-sizE: 13px;
}
.tcardinfo{
    position: relative;
    margin-top: 10px;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}
.tcardinfo h2{
    font-size: 20px;
    color: #222;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--font-family);
}
.star-rating{
    display: flex;
}
.fa-star{
    color: #555;
}
.checked{
    color: orange;
}
.tcardinfo p{
    font-size: 16px;
    color: #444;
    /*text-align: center;*/
    line-height: 1.2;
    margin-right: 5px;
}
.tcardinfo ul{
    gap: 12px;
}
.tcardinfo ul li{
    font-size: 12px;
    cursor: pointer;
}
.tcardinfo ul li i{
    margin-right: 5px;
    color: brown;
}
.tcardinfo ul li:hover{
    color: brown;
}
.categoriescards{
    margin-top: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 5rem;
}
.catecard{
    width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px #9999c7;
}
.categoriescards h3{
font-size: 17px;
font-weight: 600;
}
.catecardinfo p{
    font-size: 16px;
    color: #444;
    /*text-align: center;*/
    line-height: 1.2;
    margin-right: 5px;
padding: 5px;
}

.cateimg{
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
}
.cateimg img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 5px;
transition: 0.3s ease;
}
.catecardinfo{
    position: relative;
    margin-top: 10px;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}
.testimonials{
display: felx;
align-items: center;
justify-content: center;
padding: 0 35px;
}
.wrapper{
    max-width: 1100px;
    width: 100%;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) -12px);
    gap: 16px;
    overflow: hidden;
}
.card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
}
.carousel .card{
    height: 342px;
    list-style: none;
    background: #333;
    border-radius: 8px;
}
.rev-section{
    margin: auto;
    padding: 0 1rem;
    max-width: 1100px;
    text-align: center;
    margin-top: 5rem;

}
.reviews{
    margin: 2rem auto;
    display: flex;
}
.review{
    margin: 0 1rem;
    min-width: 300px;
    flex: 1;
    background-color:  #e1ece6a2;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0 , 0, 0, .25);

}
.head-review{
    margin: 1rem auto;
    width: 150px;
    height: 150px;
}
.head-review img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0 , 0, 0, .25);
}
.body-reviw{
    background-color: #e1ece6a2;
    padding: 2rem;
    color: #f3f3f3;
}
.name-review{
    font-size: 1.3rem;
    margin-bottom: .25rem;
    font-weight: bold;
}
.rating{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rating img{
    width: 15px;
    height: 15px;
}
.desc-review{
    line-height: 1.rem;
    letter-spacing: 1px;
    color: var(--ch-black);
    font-weight: 400;
    padding: 10px;
    text-align: left;
}
.desc-review b{
    float: left;
    font-size: 40px;
    font-weight: bolder;
    color:hsl(96, 85%, 34%);
}
.desc-review b:last-child{
    float: right;
}

@media (max-width:678px){
    .reviw{
        margin-top: 1.5rem;
    } 
}
.featuredrec{
flex-direction: column;
flex-wrap: wrap;
margin-top: 4rem;
padding: 0 20px;
overflow: hidden;
}
.featuredtitles{
    flex-direction: column;
    gap: 15px;
}
.titleicon{
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.titleicon img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.titleicon::before{
    content: '';
    width: 50px;
    height: 3px;
    background: #85b72c;
    background: linear-gradient(to right, #85b72c, transparent);
    margin-right: 20px;
}

.titleicon::after{
    content: '';
    width: 50px;
    height: 3px;
    background: #85b72c;
    background: linear-gradient(to right, transparent,#85b72c);
    margin-left: 20px;
}


.featuredtitles h1{
    font-family: var(--font-family);
    font-size: 40px;
    color: #1d2228;
}
.featuredtitles p{
    max-width: 600px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}
.featuredcards{
    width: 100%;
    height: auto;
    overflow: hddden;
    margin-top: 2rem;
    gap: 29px;
   
}
.fcard{
    position: relative;
    padding-bottom: 5px;
    width: 350px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 1px var(--main-color);
    border-right: none;

}
.fcardimg{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;

}
.fcardimg img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    object-position: center;
    transition: 0.3s ease;


}
.fcard:hover .fcardimg img{
    transform: scale(1.08);
}
.fauthorname{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 15px;
    border-top-right-radius: 10px;
}
.fauthorname img{
 width: 65px;
 margin-right: 10px;
 border-radius: 50%;
}
.fauth h5{
    font-family: var(--font-family);
    font-size: 15px;
    color: #555555e8;
}
.fauth p{
    font-size: 13px;
    margin-top: 2px;
    padding: 5px;
    font-weight: 500;
}
.fcardinfo{
    flex-direction: column;
    position: relative;
    padding: 20px 0 0 60px;
    align-items: flex-start;
    gap: 15px;
}
.fcardinfo::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 40px;
    height: 3px;
    background:hsl(96, 85%, 34%);
}
.fcardinfo label{
    font-size: 13px;
}
.fcardinfo h2{
    font-size: 20px;
}
.fcardinfo p{
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
}
.rates{
    display: flex;
    align-items: center;
    padding: 5px;
}
.rates img{
    width: 10px;
    height: 10px
}
.get{
    position: relative;
    background: url(assets/jjjj.jpg) no-repeat center center/cover;
    width: 100%;
    height: 48vh;
    margin-top: 5rem;
}
.get .container{
height: 100%;
width: 100%;
justify-content: space-between;
}
.green, .frui{
    position: relative;
    width: 48%;
    height: 70%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 25px;
}
.green img,
.frui img{
    width: 250px;
    position: absolute;
    right: -50px;
    bottom: 0;
    border-radius: 10%;
    height: 100%;
}
.frui img{
    width: 320px;
    right: -120px;
}
.ginfo{
max-width: 60%;
}
.ginfo span{
    display: inline-block;
    padding: 8px 12px;
    color:hsl(96, 85%, 34%);
    background-color: #dde6ce;
    border-radius: 8px;
    font-size: 600;
    margin: 0 0 10px 0;
    font-size: 13px;
}
.frui:nth-child(2) span{
    color: #dde6ce;
    background-color: hsl(96, 85%, 34%);
}
.ginfo h1{
font-size: 30px;
line-height: 30px;
margin: 0 0 20px;
font-weight: 700;
color: #1d2228;
margin-bottom: 15px;
}
.ginfo p{
    word-wrap: break-word;
    font-size: 15px;
    margin-bottom: 10px;
    color: #515151;
    font-weight: 600;
}
.ginfo a{
    box-shadow: 4px 3px 4px rgba(133, 183, 44, .5);
    padding: 13px 30px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    background-color: #85b72c;
    line-height: 24px;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
    text-transform: uppercase;
    border-radius: 8px;
    z-index: 1;
}
.frui .ginfo a{
    background-color:hsl(96, 85%, 34%);
    box-shadow: #85b72c;
}
.ginfo a:before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 180%;
    z-index: -1;
    transition: 0.3s ease-in-out;
    top: 0;
    border-radius: 0 0 50% 50%; 
    transform: scale(0);
}
.ginfo a:hover::before{
transform: scale(1);
}
.break{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 4rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.leftside{
    width: 60%;
}
.leftbox{
    margin-bottom: 3rem;
}
.leftbox h1{
    color: #222;
    font-size: 38px;
    line-height: 35px;
}
.leftbox p{
    color: #999;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    max-width: 600px;
}
.adverts{
    border: 2px solid black;
    width: 100%;
    height: auto;  
    padding: 6rem;
    box-shadow: 0 0 5px #999;
}
.rightside{
    width: 35%;
}
.about{
    width: 100%;
    margin-bottom: 3rem;
    overflow: hidden;
}
.tb{
   position: relative; 
   font-size: 18px;
   line-height: 20px;
   font-weight: 700;
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.tb::before{
content: '';
width: 50px;
height: 3px;
background: #85b72c;
background: linear-gradient(to right, #85b72c, transparent);
margin-right: 20px;
}

.tb::after{
content: '';
width: 50px;
height: 3px;
background: #85b72c;
background: linear-gradient(to right, transparent,#85b72c);
margin-left: 20px;
z-index: 1;
}
.aboutbox{
    position: relative;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    z-index: 1;
}
.aboutbox img{
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
}
.aboutbox h4{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
    color:hsl(96, 85%, 34%);
}
.aboutbox p{
font-size: 18px;
color: #515151;
font-weight: 600;
}
.subscribe{
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('assets/hi.webp') no-repeat center/cover;
    background-position: fixed;
}
.subinfo{
    text-align: center;
    background: #85b72c;
    padding: 10px;
    border-radius: 6px;
    opacity: 0.8;
    font-weight: bold;
}
.subinfo h1{
    font-size: 35px;
    margin-bottom: 10px;
    padding: 5px;
}


.subinfo p{
    margin-bottom: 2rem;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.subinfo form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.subinfo form label{
font-size: 25px;
margin-bottom: 10px;
color: #222;
letter-spacing: 2px;
}
.subinfo form button{
position: relative;
padding: 10px 30px;
background-color:hsl(96, 85%, 34%);
color: #fff;
border: none;
border-radius: 10px;
font-size: 27px;
overflow: hidden;
cursor: pointer;
z-index: 1;
}
.subinfo form button::before{
content: '';
height: 100%;
width: 100%;
top: 0;
background-color: #1111112a;
z-index: -1;
transition: scale(0);
transition: 0.3s ease-in-out;
}

.subinfo form button:hover::before{
    transition: scale(0);

}